@using LandscaperProject.Areas.ViewModels.Setting;
@model UpdateSettingVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div az class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Creating Service </h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label asp-for="Value" for="exampleInputName1">Title</label>
                                <input asp-for="Value" class="form-control" id="exampleInputName1" placeholder="Value">
                                <span asp-validation-for="Value"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

